
body {
	background-size:100% 100%;
	width:100%;
	height: 524px;
	margin: 0;
	padding: 0;
	color: #7F7F7F;
	background:  no-repeat center;
}


/* Header */

#header {
	background-size:100% 100%; /*设置图片随浏览器窗口大小而变化*/
	width: 90%;
	height: 100%;
	margin: 0px auto;
	background: url(images/header.jpg) no-repeat;
	background-repeat: round;
}

/* Logo */

#logo {
	float: left;
	padding: 40px 0 0 0;
    position:absolute;
    left:5%;
    top:0%;
}

#logo h1 {
	text-transform: lowercase;
	font-size: 4vw;	 /*设置字体随浏览器窗口大小而变化 4vw 是 4% */
	font-weight: normal;
	font-family: "楷体";
}

#logo h2 {
	text-transform: uppercase;
	font-size: 0.8em;
	font-family:"微软雅黑";
}

#logo a {
	text-decoration: none;
	color: #333333;
}

/* Menu */

#menu {
	float: right;
	position:absolute;
    right:10%;
    top:19%;
}

#menu ul {
	margin: 0px;
	padding: 343px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 3vw;
	color: #333333;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #333333;
}


/* Footer */

#footer {
	clear: both;
	margin: 10px;
	padding-top: 10px;
	height: 12px;
	border-top: #0F7EAC solid 4px;
}

#footer p {
	margin: 0px;
	padding: 0px;
	font-size: 2vw;
	text-align: center;
	color: #717171;
}
